.header {
    background-color: #fff;
    width: 100%;
    z-index: 1000;

    &__inner {
        display: flex;
        padding: 0 16px;
        height: 48px;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__nav-btn-wrap {
        margin-right: 32px;
    }

    &__logo-title {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 24px;
        height: 24px;
    }

    &__title {
        font-weight: bold;
    }
}

.hero {
    background-image: linear-gradient(to left, rgba(247, 247, 247, 0), rgba(247, 247, 247, 0) 20%, rgba(0, 0, 0, 0.8) 60%), url(../images/coffee-3080834_1920.jpg);
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 80px);
    position: relative;

    &__inner {
        padding-top: 140px;
        padding-left: 48px;
    }

    &__title {
        color: white;
        font-weight: normal;
        font-size: 24px;

        &--bottom {
            margin-bottom: 40px;
        }
    }

    &__concept {
        color: white;
        margin: 8px 0;
    }

    &__btn {
        margin-top: 100px;
    }

    &__btn-wrap {
        width: 100px;
        display: grid;
        gap: 16px;
    }

    &__btn-item {
        color: white;
        border: 1px solid white;
        border-radius: 16px;
        font-size: 12px;
        padding: 8px 24px;
        background-color: transparent;

        &--right {
            margin-right: 16px;
        }

        &:hover {
            background-color: grey;
            cursor: pointer;
        }
    }
}

.footer {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
    text-align: center;
    line-height: 32px;


    &__inner {
        height: 32px;
        font-size: 12px;
        color: grey;
    }
}
